* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-padrao);
}

:root {
    --vermelho: #cf2929;
    --fundo: #eef1f5;
    --texto: #111111;
    --cinza-texto: #444444;
}

body {
    background-color: var(--fundo);
}

.layout_guide {
    width: min(88%, 1120px);
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: inherit;
}